#cancel{
 border: 1px solid red; 
 color: rgb(9, 8, 8); 
 font-weight: 500; 
 position: relative;
 right: -75%;
}
#cancel:hover{
    background-color: red; 
    color: white; 
    font-weight: 500; 
    position: relative;
    right: -75%;
   }


#git{
  width: 1.8rem !important;  
  height: 5% !important;
}
#btn_container{
  margin-top: 2%;  
}
#btn{
    background-color: rgb(222, 119, 119);
    color: white;
}

#btn:hover{
    background-color: brown;
}
