.expensefrom {
  background-color: rgb(240, 14, 183);
  border-radius:20px ;
  color: rgb(3, 3, 3);
  margin: 5%;
  padding: 5%;
  width:100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  box-shadow: 2px 2px 40px black;
}
.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
 
}
.input label {
  margin-left: 2%;
}
.expensefrom button {
 margin-top: 2%;
  background-color: rgb(33, 24, 33);
  color: white;
  border-radius: 8px;
  padding: 4px;
  box-shadow: 1px 2px 15px rgb(255, 255, 255);
}
.expensefrom button:hover {
     background-color: rgb(7, 4, 7);
    
     box-shadow: 1px 2px 35px rgb(255, 255, 255);
   }
.expensefrom input {
  border: 0.5px solid rgb(74, 13, 243);
  margin: 5px;
  border-radius: 4px;
}
.expensefrom select {
  margin: 5px;
  border-radius: 4px;
}
