.expenseInput {
    background-color: rgb(11, 243, 247);
    border-radius:20px ;
    color: rgb(3, 3, 3);
    padding: 1%;
    padding-top: 3%;
    margin-left: 5%;
    width:130%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    box-shadow: 2px 2px 10px black;
    margin-top: 0.1%;
    margin-bottom: 4%;
}
.expenseInput ul {
  list-style-type: none;
}
.expenseInput button {
    margin-top: 2%;
    background-color: rgb(33, 24, 33);
    color: white;
    border-radius: 8px;
    padding: 4px;
    box-shadow: 1px 2px 15px rgb(255, 255, 255);
    margin-left: 1%;
}
.expenseInput button :hover {
    background-color: rgb(212, 24, 212);
    box-shadow: 1px 2px 35px rgb(255, 255, 255);
  }
.data {
  margin: 2%;
  text-decoration: none;
  padding: 5px;
  border: 1px solid white;
  border-radius: 4px;
}
