.expensepage{
   font-size: large; 
   font-weight: 800;
   text-shadow: 1px 1px 15px rgb(255, 255, 255);
   color: black;
}

.but{
   background-color: rgb(196, 13, 181); 
   color: white;
   padding: 0.2%;
   border-radius: 5px;
   margin-left: 1%;
   margin-top: 0.8%;
}

.but:hover{
    background-color: rgb(246, 5, 226); 
 }