.pageheader   {
    justify-content: space-between;
    display:flex;
    text-decoration:none;
    padding:10px;
    color: black;  
   font-weight: 800;
   text-shadow: 1px 4px 25px rgb(255, 255, 255);
}
.pageheader span {
    background-color: lightgrey;
    border-radius: 20px;
    padding:6px;
     
}
 
