.profile {
    padding:3%;
    color: black;
    font-weight: 600;
    text-shadow: 1px 4px 25px rgb(255, 255, 255);
}

.contact button {
  margin-left: 75%;
  border:1px solid red;
  border-radius: 4px;
  color:red;
  background-color: white;
  padding:1%;
}
.contact button:hover {
  color:rgb(243, 243, 243);
  background-color: rgb(238, 9, 9);
}
.form {
   padding:1%;
   display: flex;
}
.form input{
margin:auto  2.5% auto  0.5%;
}
  .button {
    background-color:rgb(14, 218, 61);
    border:1px solid transparent;
    border-radius:4px;
    color:white;
    padding:3px;
}

@media screen and (max-width:768px){
  .form {
    padding:1%;
    display: flex;
    flex-direction: column;
 }
}
